p {
  margin: 1rem auto;
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: 50rem;
  background-color: #e3e0e0;
  color: black;
  padding: 2rem;
  border-radius: 1rem;

  & span {
    color: var(--span);
  }

  & kbd {
    color: #efeded;
    font-family: monospace, sans-serif;
    padding: 2px 6px;
    background-color: rgb(107, 106, 106);
    border-color: #a3a1a1 #454444 #545454 #858585;
    border-style: solid;
    border-width: 2px 3px 7px 7px;
    border-radius: 4px;
  }
}
