<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
    <link rel="stylesheet" href="./template.css" />
  </head>
  <body>
    <header>
      <h1>Dia</h1>
      <h2>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, esse!
      </h2>
    </header>
  </body>
</html>

<!-- todo >>> dal dia1 al dia6 aggiungere variabili per i colori, vedi template css -->

<!-- Cosa ho imparato da questo Reto :

Pensavo di conoscere HTML , non era cosi

utilizzando solo html e un po di css
ho imparato per esempio, 
a creare un Acordeon ,
a mostrare un blocco di frammento di codice,
a dire al browser di selezionare un immagine diversa se la prima non e' supportata

ho imparato che per alcune cose bisogna per forza usare javascript ma che molte volte con poche righe di html ottenere lo stesso risultatoe il browser ringrazia -->
