& main {
  max-width: 42rem;
  margin: 0 auto;

  & section {
    border: 1px solid var(--text);
    background-color: var(--background-ligth);
    margin-bottom: 1rem;
    padding: 1rem;
    width: 42rem;

    & summary {
      font-size: 1.5rem;
      padding: 1rem;
    }

    & div {
      padding: 1rem;

      & .example {
        background-color: var(--text);
        color: black;
        border-radius: 0.5rem;
        margin-top: 0.5rem;
      }
      & span {
        color: var(--span);
      }
    }
  }
}
