.slider-container {
  margin: 0 auto;
  display: flex;
  align-items: center;

  & input[type="range"] {
    height: 23px;
    -webkit-appearance: none;
    background-color: #e5b3ec;
    border-radius: 10px;
  }

  & input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: #d631f8;
    border-radius: 50%;
    cursor: pointer;
  }

  & output {
    display: block;
    background-color: #d631f8;
    font-size: 1.5rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
    width: 2.1rem;
    margin-left: 1rem;
  }
}

p,
.code {
  margin: 0 auto;
  font-size: 1.5rem;
  max-width: 50rem;
  background-color: var(--background-ligth);
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 2rem;

  & span {
    color: #fb4646;
  }
}
