p {
  margin: 0 auto;
  font-size: 1.5rem;
  max-width: 50rem;
  background-color: var(--background-ligth);
  padding: 2rem;
  border-radius: 1rem;

  & span {
    color: var(--span);
  }
}

& main {
  margin: 3rem auto;

  & h2 {
    margin-bottom: 1rem;
  }

  & form {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  & input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  & button {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    font-size: 1rem;
    background-color: #7b00ff;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #6500c4;
    }
  }
}
