p {
  font-size: 1.5rem;
  max-width: 50rem;
  background-color: var(--background-ligth);
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 1rem;

  & span {
    color: var(--span);
  }
}

& .note {
  background-color: black;
  & .important {
    color: #e5ff00;
  }
}

& main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

& input {
  padding: 10px;
  font-size: 1rem;
  background-color: #80dbff;
  border: none;
  border-radius: 5px;
  width: 20rem;
}
