p {
  margin: 2rem auto;
  font-size: 1.5rem;
  max-width: 50rem;
  padding: 2rem;
  border-radius: 1rem;

  & span {
    color: var(--span);
  }
}

& main {
  margin: 2rem auto;

  & button {
    background-color: #42fcfc;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
    cursor: pointer;
    &:hover {
      background-color: #2bc3ff;
    }
  }

  & [popover] {
    background: #1b3049;
    color: var(--text);
    border-radius: 1rem;
    width: 60rem;
    line-height: 1.5;
  }

  & #message[popover] {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
