p {
  margin: 0 auto;
  font-size: 1.5rem;
  max-width: 50rem;
  background-color: var(--background-ligth);
  padding: 2rem;
  border-radius: 1rem;

  & span {
    color: var(--span);
  }
}

& main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  & #confettiButton {
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: #33d0f7;
      color: black;
    }
  }
}
