p {
  font-size: 1.5rem;
  max-width: 50rem;
  background-color: var(--background-ligth);
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 2rem;

  & span {
    color: var(--span);
  }
}

& main {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .note {
    background-color: black;
    & .important {
      color: #e5ff00;
    }
  }

  & form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50rem;
    font-size: 1.5rem;
    background-color: var(--background-ligth);
    padding: 2rem;
    border-radius: 1rem;
  }

  & input {
    padding: 10px;
    font-size: 1rem;
    background-color: #80dbff;
    border: none;
    border-radius: 5px;
    width: 10rem;
    margin-left: 1rem;
  }
}
