p,
main,
.code {
  margin: 0 auto;
  font-size: 1.5rem;
  max-width: 50rem;
  background-color: var(--background-ligth);
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 1rem;

  & div {
    padding: 0.5rem;
  }

  & span {
    color: #fb4646;
  }
}
