 main {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;


  & button {
    width: fit-content;
    background-color: #42fcfc;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
    cursor: pointer;
    &:hover {
      background-color: #2bc3ff;
    }
  }

  section {
    margin: 2rem auto;
    font-size: 1.5rem;
    max-width: 35rem;
    border-radius: 1rem;
  
    & span {
      color: var(--span);
    }
  }
 }