p {
  margin: 1rem auto;
  font-size: 2rem;
  max-width: 50rem;
  background-color: var(--background-ligth);
  padding: 2rem;
  border-radius: 1rem;

  & span {
    font-weight: bold;
  }
  & .one {
    color: var(--one);
  }
  & .two {
    color: var(--two);
  }
  & .three {
    color: var(--three);
  }
  & .four {
    color: var(--four);
  }
  & .color {
    background: var(--color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
