main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;

  p {
    font-size: 1.7rem;
    max-width: 40rem;
    background-color: var(--background-ligth);
    padding: 2rem;
    border-radius: 1rem;

    & span {
      color: #f74747;
    }
  }

  & .example {
    background-color: #efeded;
    color: black;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    max-width: 40rem;
    padding: 2rem;
  }

  & picture {
    & img {
      width: 28rem;
      border-radius: 1rem;
    }
  }
}
