* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #093a75;
  color: #efeded;
  display: flex;
  flex-direction: column;

  & header {
    text-align: center;
    padding: 4rem;

    & h1 {
      padding: 2rem;
      font-size: 3rem;
    }
  }

  & main {
    background-color: #ffffff23;
    border-radius: 0.5rem;
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 3rem;

    & p {
      padding: 1.5rem;
      font-size: 2rem;

      & span{
        color: #33c5df;
        font-weight: bold
      }
    }

    & div {
      border: 2px solid rgb(8, 8, 8);
      background-color: #efeded;
      border-radius: 0.5rem;
      padding: 0.6rem;

      & code {
        color: black;
        font-size: 1.5rem;
      }
    }
  }
}
