* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  --background: #093a75;
  --background-ligth: #ffffff23;
  --text: #efeded;
  --span: #f65b5b;

  background-color: var(--background);
  color: var(--text);
  display: flex;
  flex-direction: column;

  & header {
    text-align: center;
    padding: 4rem;

    & h1 {
      padding: 2rem;
      font-size: 3rem;
    }
    & h2 {
      width: 50ch;
      margin: 0 auto;
    }
  }

  p {
    margin: 0 auto;
    font-size: 1.5rem;
    max-width: 50rem;
    background-color: var(--background-ligth);
    padding: 2rem;
    border-radius: 1rem;

    & span {
      color: var(--span);
    }
  }

  table {
    width: 50%;
    margin: 3rem auto;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 1rem;
    border-bottom: 1px solid #ffffff5e;
    text-align: left;  
  }

  th {
    background-color: #ffffffb5;
    color: var(--background);
  }

  td:last-child {
    background-color: #b2d2f225;
    color: var(--span);
    font-weight: bold;
  }

  tfoot {
    font-weight: bold;
    color: var(--span);
  }
}
